<!DOCTYPE html>
<html>
  <head>
    <title>Example - Login</title>
    <meta name="description" content="SQLite3 with Sequelize example starter" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <header>
      <h1>Login</h1>
    </header>

    <main>
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %> <% if (hasMessages) { %>
      <ul>
        <% messages.forEach(function(message){ %>
        <li><%= message %></li>
        <% }); %>
      </ul>
      <% } %>
      <form
        action="/"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <input
          name="username"
          type="text"
          maxlength="25"
          value="<%=username%>"
          placeholder="Username"
        />
        <input name="password" type="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
      <p><a href="/register">Create a new account</a></p>
    </main>
  </body>
</html>
